@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;900&display=swap");
* {
  font-family: "Roboto Slab", serif;
}
h1 {
  font-weight: 900;
  color: white;
}
h2,
h3 {
  font-weight: 400;
}
p {
  font-weight: 100;
}
